@import url('https://fonts.googleapis.com/css?family=Trykker|Yantramanav|Jacques+Francois');

body {
  font-family: 'Trykker', serif;

}

p, a {
  font-family: 'Yantramanav', sans-serif;
}

$first-letter-font: 'Jacques Francois', 'serif';
