<div class="primary-container primary-grid">
  <div class="header">
    <h2>
      Henry Haller - Professional Web Developer
    </h2>
  </div>
  <div class="middle middle-grid">
    <div class="left-column">
      <h3>
        About Henry
      </h3>
      <h4>
        Professional Experience
      </h4>
      <p>
        I completed the Le Wagon Coding Academy in Tokyo during the Summer of 2018. It was an invaluable introduction to Full Stack Development on Rails.
      </p>
      <p>
        I made <%= link_to "RSSHub", "https://www.rsshub.online" %>. It's a podcast aggregator. I check it every day.
      </p>
      <p>
        I free-lanced for <%= link_to "Tokyo Hearth", "https://www.rsshub.online" %>. For three months. I helped plan, implement and test their full service housing platform.
      </p>
      <h4>
        Personal Life
      </h4>
      <p>
        I love traveling. I've been to over a dozen countries.
      </p>
      <p>
        I love playing some games. If you ever want to talk about Civ VI, let me know.
      </p>
    </div>
    <div class="right-column">
      <ul>
        <li>
          LinkedIn
        </li>
        <li>
          GitHub
        </li>
        <li>
          HackerRank
        </li>
        <li>
          CodeAcademy
        </li>
        <li>
          Resume
        </li>
      </ul>
    </div>
  </div>
  <div class="footer">
    All Content Copyright 2019 Henry Haller
  </div>
</div>
