.header {
  .header-title {
    border-bottom: solid black;
  }
  .flag {
    font-size: 4em;
  }
  .name-job-seperator {
    display: none;
  }


  @media (min-width: 1200px ) {
    .name-job-seperator {
      display: block;
    }
  }

}
