a {
  text-decoration: none;
  color: $link-color;
  // background-color: rgba(143, 112, 77, 0.6);
}

a:hover {
  font-weight: bold;
}

.backgrounded {
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(143, 112, 77, 0.3), rgba(143, 112, 77, 0.4)), url(/img/angkor_wat.jpg);
  background-size: cover;
}

.connect-link {
  box-shadow: 3px 3px rgb(8, 8, 8);
  background-image: radial-gradient($off-black, $off-black-30);
  height: 64px;
  width: 128px;
  border-radius: 50%;
  margin: 10px;
}

.footer {
  color: white;
  background-color: $off-black-90;
}

.flag {
  font-size: 2em;
}

h1, h2, h3 {
  text-shadow: 2px 2px 1px rgba(50,100,50,0.9);
}

h1 {
  margin: 10px 64px;
}

.header-title {
  border-bottom: solid black;
}


p {
  color: white;
  text-indent: 1em;
  margin: 12px 0;
  padding: 0;
}

.text-section {
  margin: 2% 5%;
  padding: 1% 3% 1% 3%;
  border-radius: 2%;
  background-color: $off-black-90;
  box-shadow: 3px 3px;
}

.middle-grid {
  background-color: rgba( 192, 192, 192, 0.5 );
}

.name-job-seperator {
  display: none;
}

@media (min-width: 992px) {
  .name-job-seperator {
    display: block;
  }
}
