body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-align: center;
}


.primary-grid {
  display: grid;
  grid-template-rows: 120px 50px 1fr 50px 40px;
}

.primary-container {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

.middle-grid {
  padding-bottom: 30px;
}

.header {
  padding: 0 4vw;
}

.middle-right {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.links-box {
  @include flex($direction: row, $justify: space-around, $align:center)
}

@media (min-width: 992px) {
  .links-box {
    @include flex($direction: column, $justify: space-around, $align: center)
  }

  .header-title {
    @include flex($direction: row, $justify: space-between, $align: center)
  }

h1 {
  display: inline-block;
  // margin: 0 auto;
}
  .primary-grid {
    grid-template-rows: 60px 50px 1fr 50px 40px;
  }
  .middle-grid {
    display: grid;
    grid-template-columns: 4fr 1fr;
  }

  .middle-left {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

}

